In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
     index=['cobra', 'viper', 'sidewinder'],
     columns=['max_speed', 'shield'])
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [5]:
df.loc['viper']

max_speed    4
shield       5
Name: viper, dtype: int64

In [6]:
df.loc[['viper', 'sidewinder']]

            max_speed  shield
viper               4       5
sidewinder          7       8

In [7]:
df.loc['cobra', 'shield']

2

In [8]:
df.loc['cobra':'viper', 'max_speed']

cobra    1
viper    4
Name: max_speed, dtype: int64

In [9]:
df.loc[[False, False, True]]

            max_speed  shield
sidewinder          7       8

In [10]:
df.loc[pd.Series([False, True, False],
       index=['viper', 'sidewinder', 'cobra'])]

            max_speed  shield
sidewinder          7       8

In [12]:
df.loc[['viper', 'sidewinder'], ['shield']] = 50
df

            max_speed  shield
cobra               1       2
viper               4      50
sidewinder          7      50